<head>
	<title>Bienvenido a Swag</title>
</head>
	<h1><b>Hola amigos!</b></h1>
	<p><a href="http://www.destructoid.com"><i>Cacha Destructoid, buena página</a></i></p>
	<%= link_to "Mi Blog", controller: "posts" %>
	<%= link_to 'Nuevo post', new_post_path %>
	<p> Este es mi segundo parrafo, confieso mi amor por mi mismo </p>
